var settings = {
    'client_id': '...', // Your client id
    'client_secret': '...', // Your secret
    'redirect_uri': '...' // Your redirect uri

    'token': null,
    'token_override': null // If this is filled, no login required
};