{
    "client_id": "...", // Your client id
    "client_secret": "...", // Your secret
    "redirect_uri": "..." // Your redirect uri

    "token_override": "..." // If this is filled, no login required
}