html, body {
    height: 100%;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-login .login-form {

    background-color: rgba(0,0,0, .15);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .25);
    padding: 1em;
}